*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{
width:400px;
padding:30px;
border-radius:30px;
background:rgba(255,255,255,0.18);
backdrop-filter:blur(20px);
box-shadow:0 8px 30px rgba(0,0,0,0.15);
text-align:center;
}

h1{
margin-bottom:20px;
}

.search-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:12px;
border:none;
border-radius:15px;
outline:none;
}

button{
padding:12px 18px;
border:none;
border-radius:15px;
cursor:pointer;
}

.weather-card{
margin-top:20px;
}

.temp{
font-size:64px;
font-weight:bold;
margin:20px 0;
}

#condition{
font-size:20px;
margin-bottom:25px;
}

.details{
display:flex;
gap:15px;
justify-content:center;
}

.box{
background:white;
padding:20px;
border-radius:20px;
width:130px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}
.weather-icon{
font-size:70px;
margin:15px 0;
animation:float 3s infinite ease-in-out;
}

@keyframes float{
0%{
transform:translateY(0);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0);
}
}